<h1>Edit a pokemon</h1>

<div class="form-container">
  <form method="POST" action="/pokemon/<%=@pokemon.id%>" class="pokemon-form">

    <div class="form-item">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" value="<%=@pokemon.name %>">
    </div>

    <div class="form-item">
      <label for="type">Type: </label>
      <input type="text" name="type" id="type" value="<%=@pokemon.type %>">
    </div>

    <div class="form-item">
      <label for="date_caught">Age: </label>
      <input type="number" name="date_caught" id="date_caught" value="<%=@pokemon.date_caught %>">
    </div>

    <div class="form-item">
      <label for="treatment_notes">Treatment Notes: </label>
      <select class="treatment_notes" name="treatment_notes" id="treatment_notes" value="<%=@pokemon.treatment_notes%>">
        <option value="Poisoned">Poisoned</option>
        <option value="Paralyzed">Paralyzed</option>
        <option value="Frozen">Frozen</option>
        <option value="Asleep">Asleep</option>
      </select>
    </div>

    <div class="form-item">
      <label for="vet">Assign to: </label>
      <select class="vet-select" name="vet_id" id="vet">
        <% @vets.each do |vet| %>
          <% if vet.id == @pokemon.vet_id %>
            <option value=<%= vet.id %> selected><%= vet.name.capitalize %></option>
          <% else %>
            <option value=<%= vet.id %>><%= vet.name.capitalize %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-item">
      <label for="reset"></label>
      <input type="reset" name="reset" id="reset">
    </div>

    <div class="form-item">
      <input type="submit" value="Confirm Edit">
    </div>

  </form>
</div>
